
 <!DOCTYPE html>
      <!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
      <!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
      <!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
      <!--[if gt IE 8]><!-->
      <html lang="ru">
      <!--<![endif]-->
<head>
<!---->
      <meta charset="UTF-8">
      <title>Ульяновский речной порт оффициальный сайт<!--VAR--></title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="libs/bootsrtap-grid/bootstrap-grid-3.3.1.min.css">
      <link rel="stylesheet" type="text/css" href="libs/owl-carousel/owl.carousel.css">
</head>
<body>
     <header>
        <div class="container">
           <div class="row">
              <div class="info-col1 col-xs-2">
                 <a class="logo" href="/"><img src="img/Logo.png"></a>
              </div>
              <div class="info-col2 title col-xs-4">
                 <h1>Ульяновский речной порт оффициальный сайт<!--VAR--></h1>
              </div>
              <div class="info-col3 col-xs-3">
                 <div class="adress">
                    <a href="">
                       <i class="fa fa-map-marker" aria-hidden="true"></i>
                       432015, ул. Портовая, 25 <!--VAR-->
                    </a>
                 </div>
                 <div class="phone-numbers">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div class="phone-block">
                       (<span>8422</span>)42-98-02<br> <!--VAR-->
                       (<span>8422</span>)42-98-00     <!--VAR-->
                    </div>
                 </div>
              </div>
              <div class="info-col4 col-xs-3">
                 <div class="mail">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                   <a href="mailto: ulport@mail.ru"> ulport@mail.ru </a> <!--VAR-->
                 </div>
                 <a class="feedback-button" href=""> Обратная связь </a>
              </div>
           </div>
        </div>
     </header>
     <nav class="main-navbar">
   <!-- Method, Class Handler-->
        <ul>
           <li class="main-navbar_item"><a href="/">Об организации</a></li>
           <li class="main-navbar_item"><a href="/">Туризм</a></li>
           <li class="main-navbar_item"><a href="/">Виды деятельности</a></li>
           <li class="main-navbar_item"><a href="/">Галерея</a></li>
           <li class="main-navbar_item"><a href="/">Контакты</a></li>
           <li class="main-navbar_item"><a href="/">Вакансии</a></li>
           <li class="main-navbar_item"><a href="/">Электроэнергия</a></li>
        </ul>  
     </nav>
     <aside class="news-block">
     <h2 class="news-block_title"> Новости </h2>
        <!-- Method, Class Handler-->
        <div class="news-block_item">
           <h3 class="news-block_item_title">
              <span class="news-block_item_date">27.08.2016</span> Какое-то событие
           </h3>
           <div class="news-block_item_content">
           This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
           Example:
           [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]]
           For more information about structure of the internal arrays see itemsDesktop. Check my 
           </div>
        </div>
          <div class="news-block_item">
           <h3 class="news-block_item_title">
              <span class="news-block_item_date">27.08.2016</span> Какое-то событие
           </h3>
           <div class="news-block_item_content">
           This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
           Example:
           [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]]
           For more information about structure of the internal arrays see itemsDesktop. Check my 
           </div>
        </div>
          <div class="news-block_item">
           <h3 class="news-block_item_title">
              <span class="news-block_item_date">27.08.2016</span> Какое-то событие
           </h3>
           <div class="news-block_item_content">
           This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
           Example:
           [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]]
           For more information about structure of the internal arrays see itemsDesktop. Check my 
           </div>
        </div>
          <div class="news-block_item">
           <h3 class="news-block_item_title">
              <span class="news-block_item_date">27.08.2016</span> Какое-то событие
           </h3>
           <div class="news-block_item_content">
           This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available.
           Example:
           [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]]
           For more information about structure of the internal arrays see itemsDesktop. Check my 
           </div>
        </div>
     </aside>
     <article class="main-content">
        <div class="photo-carousel">
          <!--Method, Class handler-->
           <img src="img/carousel/1.jpg">
           <img src="img/carousel/2.jpg">
           <img src="img/carousel/3.jpg">
           <img src="img/carousel/4.jpg">
           <img src="img/carousel/5.jpg">
           <img src="img/carousel/6.jpg">
        </div>
        <div class="about">
           <h2> О компании </h2>
           <!-- VAR -->
           <div class="about_content">
              This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available. Example: [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]] For more information about structure of the internal arrays see itemsDesktop. Check my
              This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available. Example: [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]] For more information about structure of the internal arrays see itemsDesktop. Check my
              This allow you to add custom variations of items depending from the width If this option is set, itemsDeskop, itemsDesktopSmall, itemsTablet, itemsMobile etc. are disabled For better preview, order the arrays by screen size, but it's not mandatory Don't forget to include the lowest available screen size, otherwise it will take the default one for screens lower than lowest available. Example: [[0, 2], [400, 4], [700, 6], [1000, 8], [1200, 10], [1600, 16]] For more information about structure of the internal arrays see itemsDesktop. Check my
           </div>
        </div>
        <div class="photo-menu"> 
           <ul >
           <!--Method, Class Handler-->
             <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/1.jpg"> <!--VAR-->
                         <div class="title"> Теплоход Иван Федорович Крузенштерн </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/6.jpg"> <!--VAR-->
                         <div class="title"> Добыча песка </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/2.jpg"> <!--VAR-->
                         <div class="title"> Аренда самоходного и несамоходного флота </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/3.jpg"> <!--VAR-->
                         <div class="title"> Перевозка грузов </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/4.jpg"> <!--VAR-->
                         <div class="title"> Добыча песка </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/5.jpg"> <!--VAR-->
                         <div class="title"> Перевозка пассажиров </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/5.jpg"> <!--VAR-->
                         <div class="title"> Строительство и берегоукрепительные работы </div> <!--VAR-->
                     </div>
                 </a>
             </li>
              <li style="opacity: 1;">
                 <a href="/">
                      <div class="container">
                         <img src="img/carousel/5.jpg"> <!--VAR-->
                         <div class="title"> Доставка сыпучих грузов автотранспортом </div> <!--VAR-->
                     </div>
                 </a>
             </li>
           </ul>
        </div>
     </article>
      <footer>
           <a class="logo" href="/"><img src="img/Logo.png"></a> <!--VAR-->
           <nav class="footer-navbar">
   <!-- Method, Class Handler-->
             <ul>
               <li class="footer-navbar_item"><a href="/">Об организации</a></li>
               <li class="footer-navbar_item"><a href="/">Туризм</a></li>
               <li class="footer-navbar_item"><a href="/">Виды деятельности</a></li>
               <li class="footer-navbar_item"><a href="/">Галерея</a></li>
               <li class="footer-navbar_item"><a href="/">Контакты</a></li>
               <li class="footer-navbar_item"><a href="/">Вакансии</a></li>
               <li class="footer-navbar_item"><a href="/">Электроэнергия</a></li>
             </ul>
           </nav>
           <div class="social">
              <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
           </div>
     </footer>

   <!--[if lt IE 9]>
      <script src="libs/html5shiv/es5-shim.min.js"></script>
      <script src="libs/html5shiv/html5shiv.min.js"></script>
      <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
      <script src="libs/respond/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="libs/jquery-3.0.0.min.js"></script> 
      <script type="text/javascript" src="libs/owl-carousel/owl.carousel.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
</body>
</html>